footer{
    background-color:white;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px dotted black;
    display: flex;
    justify-content: space-around;
    a{
        margin: 15px 0;
    }
}