@import "variables";
@import "../Components/Footer/Footer.scss";
@import "../Components/Header/Header.scss";
@import "../Components/About/About.scss";
@import "../Components/Projets/Projets.scss";
@import "../Components/Error/Error.scss";

:root {
  font-family:Montserrat;
}
body{
  margin: 0px;
  background-color: $main_background_color;
}
