.header-modal{
    display: flex;
    justify-content: space-between;
        .fa-xmark{
            cursor: pointer;
        }
}
.modal-content{
    .modal-title{
        display: flex;
        justify-content: center;
    }
    h3{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    p{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 20px 30px;
        font-size: 18px;
    }
    a{
        padding: 0px 10px;
    }
    .competences{
        display: flex;
        justify-content: center;
       text-align: center;
      p{
        margin:0 10px;
      }
    }
}
@media (max-width: 767px){
.modal-content{
    p{
        font-size: 12px;
    }
}
}