header{
    background-color: white;
    //color: #fbfaf9;
    height: 100px;
    display:flex;
    justify-content: space-between;
  
    h1{
      margin:20px 30px;
      display:flex;
	    flex-direction: column;
      font-size: 30px;
      font-weight: normal;
      span{
        font-size: 20px;
      }
    }
    .header-nav{
      display:flex;
      padding:10px;
      justify-content: space-around;
      
      .active-link{
        font-weight: bold
      }
    }
    .header-nav a{
      text-decoration: none;
     // color: #fbfaf9;
      display:flex;
      padding:10px;
      justify-content: space-around;
    }
}